In [1]:
# Import numpy
import numpy as np

### Datatypes and attributes

In [10]:
# Numpy's main datatype is ndarray - (n-dimensional array)

# Shape (1,3) - 1 row, 3 columns - one dimension array (vector)
a1 = np.array([1,2,3])

# Shape (2,3) - 1 rows, 3 columns - two dimensional array (matrix)
a2 = np.array([[1,2,3], [4,6.5,7]])

# Shape (3,3,2) - 3 rows, 3 columns, 2 layers - three dimensional array (matrix)
a3 = np.array([[[1,2,3], [4,5,6], [7,8,9]], [[10,11,12],[13,14,15],[16,17,18]]])

In [12]:
# Show shape of array:
a3.shape

(2, 3, 3)

In [15]:
# Show number of dimensions of our arrays:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [17]:
# Show datatypes of our arrays:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [18]:
# Show number of elements in arrays:
a1.size, a2.size, a3.size

(3, 6, 18)

In [19]:
# Create a Pandas DataFrame from 
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  6.5  7.0